.navbar
  .navbar-left
    a.navbar-brand(href='/')
      | Statify
  .navbar-center
    .navbar-item
      .avatar
        img(src=user.profile.picture || '/assets/default.png')
      span= user.profile.name || user.spotify
  .navbar-right
    .navbar-item
      a.button.primary(href='/logout') Logout
